<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./static/css/main.css">
    <title>Account</title>
  </head>
  <body>
    <!-- Flash messages for feedback -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>{{pub_key}}</h2>
    <h3>Balances:</h3>
    <ul>
      {% for bal in json_obj['balances'] %}
        {% if bal['asset_type'] == 'native' %}
          <li>{{bal['balance']}} XLM</li>
        {% else %}
          <li>{{bal['balance']}} {{bal['asset_code']}}</li>
        {% endif %}
      {% endfor %}
    </ul>

    <h3>Enter Private Key</h3>
    <form action="store_private_key" method="post">
      <fieldset id="private_key">
        <input type="text" name="private_key" placeholder="Private Key" required>
      </fieldset>
      <fieldset>
        <input type="submit" value="Store Private Key">
      </fieldset>
    </form>

    <h3>Send XLM</h3>
    <form action="send_xlm" method="post">
      <fieldset id="recipient">
        <input type="text" name="recipient" placeholder="Recipient's Address" required>
      </fieldset>
      <fieldset id="amount">
        <input type="text" name="amount" placeholder="Amount of XLM to send" required>
      </fieldset>
      <fieldset>
        <input type="submit" value="Send XLM">
      </fieldset>
    </form>
  </body>
</html>
